*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    /* background-color: black; */
    justify-content: center;
   
}

h1{
    padding-top: 40px;
    font-size: 30px;
    color: white;
}

p{
    padding-top: 15px;
    font-size: 20px;
    color: white;
}

form{
    font-size: 20px;
    background-color: rgb(50, 50, 62, 0.5);
    display: inline-block;
    width: 33%;
    margin: auto;
    text-align: left;
    line-height: 2em;
    color: white;
  padding:20px;
}

.survey input{
    width:100%;
    box-sizing:border-box;
    padding:5px; 
    background:#ccc; 
   cursor:pointer;
  border-radius: 90px; 
}

textarea{
    width: 80%;
}
